
//- Content right
//- ============
//- (Write description here)

//- Includes

mixin content-right()
    
    .content-right

        h1 Hello there!
        p On this page are a basic sample of elements and some of the variables used in this framework. If you go through the <strong>'_setup.scss'</strong> file you can then check out your variables in action here.
        
        h3 Setup checklist
        
        ul
            li Colour palette and text overlays
            li Font families for heading, body and quotes
            li Any adjustments to scales and grid