{
    '@context': 'http://schema.org',
    '@type': 'NewsArticle',
    'headline': '',
    'author': 'Alex Plummer',
    'datePublished': '',
    'dateline': 'LN, UK',
    'mainEntityOfPage': 'true',
    'image': {
        '@type': 'imageObject',
        'url': '',
        'height': '200',
        'width': '200'
    },
    'publisher': {
        '@type': 'Organization',
        'name': 'Alex Plummer Web Design',
        'logo': {
            '@type': 'imageObject',
            'url': ''
        }
    }
},