{
    '@context': 'http://schema.org',
    '@type': 'Person',
    'email': 'mailto:info@example.com',
    'image': 'janedoe.jpg',
    'jobTitle': 'Research Assistant',
    'name': 'Jane Doe',
    'birthPlace': 'Philadelphia, PA',
    'gender': 'female',
    'nationality': 'African American',
    'url': 'http://www.example.com',
    'sameAs': [ 
        'https://www.facebook.com/',
        'https://www.linkedin.com/',
        'http://twitter.com/',
        'http://instagram.com/',
        'https://plus.google.com/'
    ]
},