<!-- build:js script/script.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- inject:imports -->
<script src="script/script.js"></script>
<script src="script/modules/module.js"></script>
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
