// Welcome
// ============
// Styling for the welcome module

.m-elements {
    @extend .split;

    img {
        max-width: 100%;
    }
    table {
        @extend .pure-table;
    }
    form {
        background: #eee;
        border-radius: 7px;
        padding: $size-m;

        h5 {
            @extend %border-thin;
        }
    }
}