
.icon-cancel-circled2:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */