
// Colour palette
// ============
// Colour scheme variables

$clr-primary:   #3C9ADA;
$clr-secondary: #F3AF4B;
$clr-tertiary:  #80007F;
$clr-hlight:    #F6631E;
$clr-shade:     #3F4747;

$clr-link: $clr-hlight;
$clr-link-hover: lighten($clr-link, 10%);

$clr-light:   #BED4D2;
$clr-lighter: #D8E7E6;
$clr-dark:    #666666;
$clr-darker:  #333333;

$clr-primary-textoverlay:   #FFFFFF;
$clr-secondary-textoverlay: #FFFFFF;
$clr-tertiary-textoverlay:  #FFFFFF;
$clr-hlight-textoverlay:    #FFFFFF;
$clr-shade-textoverlay:     #FFFFFF;


// Font families
// ============
// Font family definitions

$font-header: 'Montserrat', sans-serif;
$font-body:   'Open Sans', sans-serif;
$font-quote:  'Bevan', cursive;

// Modify irregular xheight fonts
$xheight-header: 1;
$xheight-body:   1;


// Scales
// ============
// Scales used for type and spacing (/16)

// Font sizes
$font-xxxl: /* 96px */ 6      * 1rem;
$font-xxl:  /* 48px */ 3      * 1rem;
$font-xl:   /* 36px */ 2.25   * 1rem;
$font-l:    /* 24px */ 1.5    * 1rem;
$font-m:    /* 18px */ 1.125  * 1rem;
$font-s:    /* 16px */ 1      * 1rem;
$font-xs:   /* 12px */ 0.75   * 1rem;
$font-xxs:  /*  9px */ 0.5625 * 1rem;

// Baseline
$font-size-body: $font-s;
$font-baseline: $font-size-body * 1.5;

// Distances
$size-xl: /* 96px */ $font-baseline * 4;
$size-l:  /* 48px */ $font-baseline * 2;
$size-m:  /* 24px */ $font-baseline;
$size-s:  /* 12px */ $font-baseline / 2;
$size-xs: /*  6px */ $font-baseline / 4;


// Grid
// ============
// Used to setup the flexbox grid

// Breakpoints
$tablet:  768px;
$laptop:  992px;
$desktop: 1200px;
$max:     1400px;

// Containers
$container-tablet:  100%;
$container-laptop:  100%;
$container-desktop: 100%;
$container-max: 1376px;

// Columns & margins
$grid-columns: 12;
$gutter-width: $size-l;
$outer-margin: $size-m;
