
//- Document under
//- ============
//- Content for bottom of every page

<!-- build:js script/script.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- inject:imports -->
<script src="script/app.js"></script>
<!-- endinject -->
<!-- endbuild -->

<!-- Google fonts -->
<script>WebFontConfig={google:{families:["Quicksand:400,500","Sanchez"]}},function(e){var n=e.createElement("script"),o=e.scripts[0];n.src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js",n.async=!0,o.parentNode.insertBefore(n,o)}(document);</script>

</body>
</html>