// Global variables

- var siteName        = "Site title";
- var siteDescription = "Site description";
- var siteURL         = "http://wwww.siteurl.com";
- var siteAuthor      = "Site Author";
- var shareImage      = "http://wwww.siteurl.com/img/logo-main.png"; // Used for og and twitter
- var phone           = "0123456789";
- var email           = "info@site.co.uk";
- var fb              = "https://www.facebook.com/";
- var tw              = "https://twitter.com/"
- var li              = "https://www.linkedin.com/company/";
