//- Global variables

- var siteName        = "Site name";
- var siteDescription = "Site description";
- var siteURL         = "http://wwww.site-url.com";
- var brand           = "#009DC9";
- var siteAuthor      = "Site author";
- var shareImage      = ""; // Used for og and twitter
- var phone           = "";
- var email           = "info@.com";
- var fb              = "https://www.facebook.com/";
- var tw              = "twitter.com/"
- var li              = "https://www.linkedin.com/";