
// Header main
// ============
// (Write description here)

.header-main {
    position: relative;
    background: $clr-darker;
    padding: 0 $size-s;
    margin-bottom: $size-m;

    .logo  {
        position: absolute;
        left: 50%;
        top: $size-s;
        transform: translateX(-50%);

        svg {
            height: 50px;
            float: left;

            * {
                stroke: 0;
                fill: $clr-primary;
            }
        }
        h1 {
            @extend .h2;
            color: $clr-primary;
            float: left;
            padding-top: 0;
            margin-left: $size-m;
        }
    }
}