
//- Content left
//- ============
//- (Write description here)

//- Includes

mixin content-left()
    
    .content-left
    
        h4 Colour variables
        ul.color-vars-main
            li Primary
            li Secondary
            li Tertiary
            li Highlight
            li Shade

        ul.color-vars-shades
            li Light
            li Lighter
            li Dark
            li Darker
