extends components/_masthead

block title
	title Home

block main
	
	section
		.inner
			.welcome
				h3 Welcome
				p These are just the very basics at the moment, time to make something memorable!
	
	include components/_footer
